__pycache__
.env
env_api
eda_env
a.out
amazon_prime_titles.csv
disney_plus_titles.csv
hulu_titles.csv
netflix_titles.csv
ratings/**
ratings/*
ratings
datasets
out.csv
ratings_with_types.txt
ratings.csv
out.zip
settings.json
wtf
out_ratings.zip
out_ratings.csv
input